/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  /* font-size: 75%; */
  /* overflow-x: hidden; */
}
body {
}
.container {
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  border-top: 12px solid #ddd;
  border-bottom: 12px solid #ddd;
  /* background-color: yellow;; */
}

/* first page */
.first-page {
  height: 95vh;
  background-image: url("img/front-page3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.95;
  filter: contrast(105%);
}
.nav-list {
  background-color: rgba(243, 123, 12, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 84px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 104px;
}
.logo img {
  width: 100px;
  height: 70px;
}
.logo-description {
  font-size: 48px;
  color: #fff;
  letter-spacing: 3px;
}
.nav-list ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 0;
  list-style: none;
}
.main-nav:link,
.main-nav:visited {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}
.main-nav.active,
.main-nav:hover {
  color: #e67e22;
  text-decoration: none;
  color: #333;
}
.login-btn {
  font-size: 24px;
  font-weight: 600;
  background-color: #fdfdfd;
  /* background-image: linear-gradient(to top right, #e67e22 ,rgba(247, 125, 10, 0.9) ); */
  border: none;
  padding: 12px 32px;
  border-radius: 6px;
}
.login-btn:hover {
  box-shadow: 2px -2px 6px #333;
}
.login:visited,
.login:link {
  color: #e67e22;
  text-decoration: none;
}
.login:active,
.login:hover {
  color: #ed7206;
  text-decoration: none;
  background-color: #fff;
}
.main-quotes {
  width: 580px;
  position: absolute;
  top: 22%;
  left: 12%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 48px 24px;
  /* background-color: red; */
  border-radius: 12px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
}

.main-quotes:before {
  color: #ef7d1a;
  content: "#EndViolence";
  font-weight: 600;
  font-size: 68px;
  text-shadow: -8px 2px 6px #222;
}
.main-quotes:hover {
  filter: brightness(105%);
}
.main-quotes-headline {
  font-size: 36px;
  color: rgba(100, 100, 100, 0.8);
  letter-spacing: 1.1;
  font-weight: 500;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);
}
.main-quotes-description {
  font-size: 24px;
  color: #777;
  opacity: 0.8;
  line-height: 1.4;
  padding: 16px;
}
.donate {
  font-size: 24px;
  font-weight: 600;
  background-image: linear-gradient(
    to top right,
    #e67e22,
    rgba(247, 125, 10, 0.9)
  );
  border: none;
  padding: 12px 32px;
  border-radius: 6px;
}
.donate:hover {
  box-shadow: 2px -2px 6px #333;
  background-image: linear-gradient(
    to top right,
    #ff8b26,
    rgba(245, 120, 3, 0.9)
  );
}
.donate a:visited,
.donate a:link {
  color: #fff;
  text-decoration: none;
}
.donate a:active,
.donate a:hover {
  color: #eee;
}
.search-form {
  width: 480px;
  border: solid 1px rgba(255, 133, 2, 0.9);
  background-color: rgba(244, 244, 244, 0.8);
  border-radius: 12px;
  position: absolute;
  top: 30%;
  right: 10%;
}

.search-bar {
  font-size: 1.6rem;
  color: #222;
  padding: 14px 36px;
  border: 0;
  outline: none;
  background: transparent;
}
::placeholder {
  color: rgb(0, 0, 0, 0.4);
}

.search-form:visited {
  opacity: 0.4;
}
.search-form:hover {
  border: 1px solid rgba(215, 111, 0, 0.9);
  box-shadow: -2px -2px 12px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

/* recent event */

.Recent-Events {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
  height: 480px;
}
.Recent-Events-box {
  background-color: #fafafa;
  position: relative;
  width: 1300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 0 64px;
  border-radius: 12px;
  border: 2px dashed #ccc;
}

.Recent-Events-box-heading-box {
  width: 300px;
}
.Recent-Events-box-heading {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #e67e22;
}
.Recent-Events-box-details {
  color: #222;
  padding: 38px 104px;
  position: relative;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 4px solid #e67e22;
  border-right: 4px solid #e67e22;
  border-radius: 16px;
  overflow: hidden;
}
.Recent-Events-box-details::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 100%;
  /* background:conic-gradient(transparent,270deg,#b7b7b7);
    animation: rotate 3s linear infinite; */
  background: linear-gradient(#ebebeb, #dedede);
  background: linear-gradient(#ffbc81, #ff993f);
  animation: rotate 6s linear infinite;
}
.Recent-Events-box-details::after {
  content: "";
  position: absolute;
  background: #fefefe;
  inset: 5px;
  border-radius: 16px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Recent-Events-box-text {
  z-index: 2;
  font-size: 18px;
  line-height: 1.3;
}
.Recent-Events-box-Location-Date {
  z-index: 2;
  width: 650px;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-weight: 600;
}
.Recent-Events-box-Location,
.Recent-Events-box-Date {
  font-size: 18px;
}
.btn--event--left {
  z-index: 2;
  left: 3rem;
  top: 50%;

  transform: translate(-50%, -50%);
}
.btn--event--right {
  right: 3rem;
  top: 50%;
  z-index: 2;
  transform: translate(50%, -50%);
}

/* second page  */
.second-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-page-box {
  width: 1600px;
  padding: 24px 0 32px 0;
}
.second-page-head-box {
  text-align: center;
  padding: 32px 0;
}
.second-page-head-box-tte {
  font-size: 54px;
  color: #222;
  padding: 12px 0;
}
.second-page-head-box span {
  color: #e67e22;
}
.second-page-head-box-tte-des {
  font-size: 12px;
  color: #aaa;
  padding: 6px 0;
}

.second-page-section {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 450px;
  gap: 36px;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  padding-top: 12px;
  position: relative;
}
.second-page-section-box {
  box-shadow: 1px 1px 4px rgba(197, 178, 162, 0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.second-page-section-box:hover {
  box-shadow: -2px 2px 12px rgba(222, 222, 222, 1);
}
.second-page-section-img {
}
.second-page-section-img img {
  width: 300px;
  height: 210px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.second-page-section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px 15px 8px 22px;
}
.second-page-section-heading {
  color: #111;
  font-size: 20px;
}
.second-page-section-description {
  font-size: 16px;
  color: #444;
  overflow: hidden;
}

/* third page  */
.third-page-section {
  max-width: 1200px;
  padding: 0 38.4px;
  margin: 84px auto;
}
.third-page-section-title-box {
}
.third-page-section-title {
  font-size: 24px;
  font-weight: 600;
  color: #e67e22;
  text-transform: uppercase;
  padding: 24px 0;
}
.third-page-section-headline {
  font-size: 54px;
  text-align: center;
  padding: 24px 0;
  text-transform: capitalize;
}
.third-page-section-headline span {
  color: #e67e22;
}
.third-page-section-box {
  display: grid;
  grid-template-rows: repeat(3, 480px);
  grid-template-columns: repeat(2, 420px);
  row-gap: 36px;
  column-gap: 64px;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.third-page-section-box-img {
  width: 420px;
  height: 420px;
  border-radius: 16px;
}

.third-page-section-box-img img {
  width: 420px;
  height: 420px;
  border-radius: 12px;
}
.third-page-section-box-text {
}
.third-page-section-box-text h3 {
  font-size: 34px;
  color: #e67e22;
  text-align: center;
  padding: 12px 0;
}
.third-page-section-box-text p {
  font-size: 14.4px;
  padding: 10px 18px;
  line-height: 1.4;
  columns: #666;
}

/* four page */
.fourth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  border-top: 3px solid rgb(255, 145, 0);
  margin-bottom: 48px;
}

.fourth-page-box {
  max-width: 1300px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fourth-page-first-box {
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.fourth-page-first-box-heading {
  font-size: 56px;
  text-transform: uppercase;
  color: #e67e22;
}
.fourth-page-first-box-para {
  font-size: 32px;
  text-align: center;
}
.fourth-page-first-box-button {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 12px 32px;
  border-radius: 16px;
  background: linear-gradient(to right bottom, #ff7b00, #ffa14e, #ff7b00);
  cursor: pointer;
  /* background:linear-gradient(to right bottom,#ff9a41, #c87934); */
}

.fourth-page-second-box {
  width: 800px;
  height: 430px;
  background-image: url(img/donation2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #aaa;
  box-shadow: 2pc 2px 10px rgba(50, 50, 50, 0.1);
}
.footer-box {
  height: 400px;
  width: 1800px;
  display: grid;
  grid-template-columns: 450px 450px 1fr;
}
.footer-box-1 {
  display: grid;
  grid-template-rows: 150px 180px;
  padding: 32px 24px 12px 24px;
  border-right: 2px solid #ddd;
  position: relative;
}
.footer--logo {
}
.footer--logo--img {
  width: 300px;
  height: 120px;
}
.footer--logo--description {
  font-size: 26px;
  color: #e29e2f;
  font-weight: 600;
  text-align: center;
  /* padding-left: 48px; */
}
.footer--contact--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 6px 12px 6px 32px;
  color: #555;
}
.footer--contactus {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.footer--call--icon,
.footer--mail--icon {
  width: 16px;
}
.footer--PhoneNumber {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer--EmailId {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer--social--head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  padding: 6px 0;
}
.footer--social {
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
}
.copyright {
  position: absolute;
  bottom: 28px;
  right: 50px;
  font-size: 14px;
  color: #666;
}
.copyright a {
  text-decoration: none;
  color: #555;
}

.footer-box-2 {
  border-right: 2px solid #ddd;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-box-2 p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.8;
}
.footer-box-2 p:first-child {
  font-size: 16px;
  margin: 12px 0 6px 0;
  padding-bottom: 4px;
  border-bottom: 1px dashed #444;
}
/* .footer-box-3{
    width: 800px;

} */
#map {
  height: 400px;
  width: 100%;
}
